@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
.header{
  position: relative;
  z-index: 100;
  position: absolute;
  width: 100%;
  right: 0%;
}
.header_nav{
  display: flex;
}
.button_nav{
    text-decoration: none;
    margin-right: 20px;
    color: #cfd0d0;
    font-family: 'Caveat', cursive;
    font-size: 17px;
    text-align: center;
    width: 100%;
}
@media screen and (min-width: 792px){
  .header{
    width: 30%;
  }
  .button_nav{
    font-size: 20px;
}
}
